{% extends 'base.html.twig' %}

{% block title %}détail de la todo!{% endblock %}

{% block body %}

  {% for flash in app.flashes('warning') %}
    <div class="alert alert-warning">
      {{flash}}
    </div>

  {% endfor %}

{% if(todo != null) %}
<div class="container text-center">
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">State</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ todo.id }}</th>
      <td>{{ todo.task }}</td>
      <td>{{ todo.description }}</td>
     <td><input onchange="window.location.href='{{ path("app.todo.patch.completed", {'id': todo.id}) }}'" type="checkbox" {{ todo.completed == false ? "" : "checked"}}></td>
      <td> <a class="btn btn-danger" href="{{ path('app.todo.suppr',{'id': todo.id}) }}">Supprimer</a> </td>
    </tr>
  </tbody>
</table>
{% endif %}
<div>
  <a href="{{path('app.todo')}}" class="btn btn-primary">Retour</a>
</div>
</div>
{% endblock %}
